<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row bottom">
		<div class="col-xs-12">
			<div class="row">
				<button class="btn btn-success start-button" ng-click="startGame()">
					Start Game
				</button>
				<div class="player">
					{{currentPlayer.name}}: <span class="player-score">{{currentPlayer.score}}</span>
				</div>
				<div class="players" ng-hide="isCurrentPlayer(player)" ng-repeat="player in game.players" class="col-xs-12">
					<div class="player">
						{{player.name}}: <span class="player-score">{{player.score}}</span>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row bottom">

		<div class="board-container">
			<table draw-special-squares id="board">
				<tr ng-repeat="row in game.board track by $index">
					<td class="cell" ng-repeat="square in row track by $index" data-drop="true"  data-jqyoui-options="{accept:'.tile', hoverClass: 'drop-area'}" jqyoui-droppable="{onDrop:'updateTile($parent.$index,$index)', multiple:false}" ng-model='square' >
					<div class="tile" data-drag="true" ng-repeat="tile in square track by $index" jqyoui-draggable="{index: {{$index}}, onStart:'moveTile($parent.$parent.$index,$parent.$index)'}" ng-hide="!tile" ng-model='square'>
						{{tile.letter}}
						<div class="letterpoints">
							{{tile.points}}
						</div>
					</div></td>
				</tr>
			</table>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12">

			<div ng-show="game.active && currentPlayer">

				<div class="rack" data-drop="true"  data-jqyoui-options="{accept:'.tile:not([ng-model=currentTiles])'}" jqyoui-droppable="{onDrop:'updateRack($index)', multiple:true}" ng-model="currentTiles">
					<div class="tile" ng-hide="!tile" data-drag="true" ng-repeat="tile in currentTiles track by $index"
					data-jqyoui-options="{revert: 'invalid'}" ng-model="currentTiles" jqyoui-draggable="{index: {{$index}}, onStart:'moveFromRack($index)'}">
						{{tile.letter}}
						<div class="letterpoints">
							{{tile.points}}
						</div>
					</div>
				</div>
				<button class="btn btn-primary game-button" ng-click="swapTiles()">
					Swap Tiles
				</button>
				<button class="btn btn-primary game-button" ng-click="checkWord()">
					Submit Word
				</button>

			</div>

		</div>
	</div>

</div>
