html, body {
  overflow: hidden;
}

.tile {
  color: #000000;
  background: #F7F2E0;
  padding: 0px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #000000;
  width: 40px;
  height: 40px;
  margin: 2px;
  float: left;
  
}


#board .tile {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

.tile.hide { 
  display:none; 
}

.smallboard .tile {
  width: 18px;
  height: 18px;
  font-size: 11px;
  margin: 1px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.smallboard .letterpoints {
  font-size: 6px;
}

.tile.dragbig {
  width: 70px;
  height: 70px;
  font-size: 44px;
}

.cell {
  width: 45px;
  height: 45px;
  border: 1px solid black;
}

.smallboard .cell {
  width: 21px;
  height: 21px;
}



.drop-area {

  background: #dddddd;
  
}

.letterpoints {
  position: absolute;
  font-size: 12px;
  right: 1px;
  bottom: 0px;
}

.tile.nodrag {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) !important;
}

.special.tw {
  background: red;
}

#rack {
  border: 1px solid black;
  height: 45px;
  width: 320px;
  padding-left: 5px;
}

.special.dw {
  background: #F5A9A9;
}

.special.tl {
  background: #08088A;
}

.special.dl {
  background: #58ACFA;
}

#board {
  width: 675px;
  height: 675px;
  max-width: 675px;
  touch-action: pan-x pan-y !important;

}

#board.smallboard {
  width: 320px;
  height: 320px;
  max-width: 320px;

}

.player {
  float: left;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.players {
  float: left;
  margin-left: 20px;
  font-size: 12px;
}

tr.ready {
  color: green;
}

.game-button {
  float: left;
  margin: 5px;
  
}

.start-button {
  float: left;
  margin-left: 15px;
}

.bottom {
  margin-bottom: 5px;
}

#board-container {
  width: 320px;
  height: 320px;
  overflow: scroll;

}

#board-rack {
  width: 320px;
  height: 370px;
}
