

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<button ng-disabled="!isEveryoneReady" ng-show="isCreator()" class="btn btn-success game-button" ng-click="startGame()">
				Start
			</button>
			
			<div class="join-name"><h5>Game: {{game.name}}</h5></div>
			<table class="table table-striped">
				<tr>
					<th>Ready?</th>
					<th>Name</th>
					<th>Color</th>
				</tr>
				
				<tr ng-class="{ready: player.ready}" ng-repeat="player in game.players">
					<td ng-if="isCurrentPlayer(player)">
						<input type="checkbox" ng-model="player.ready" ng-click="updateReady()">
					</td>
					<td ng-if="!isCurrentPlayer(player)">
						<span ng-show="player.ready" class="glyphicon glyphicon-ok-sign"></span>
						<span ng-hide="player.ready" class="glyphicon glyphicon-question-sign"></span>
					</td>
					<td>{{player.name}}</td>
					<td>color</td>
				</tr>
			</table>

		</div>


	</div>
	<a type="button" class="btn btn-default" href="/"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </a>

</div>

